{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="container pb-5" >

    <form>
      <div class="row height d-flex justify-content-center align-items-center">
          <div class="col-md-8">
              <div class="search"> <i class="fa fa-search"></i> <input name="q" type="text" class="form-control" placeholder="Search users..." value="{{ request.GET.q }}"> <button type="submit" class="btn btn-primary">Search</button> </div>
          </div>
      </div>
    </form>

    {% for new_user in new_msg_user %}
      <div class="card mb-3 border border-success col-md-4 d-flex justify-content-center" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ new_user.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ new_user.first_name|capfirst }} {{ new_user.last_name|capfirst }}</h5>
              {% if new_user.is_tutor %}
              <p class="card-text">{{ new_user.tutor_profile.profile_headline }}</p>
              {% else %}
              <p class="card-text">{{ new_user.email }}</p>
              {% endif %}
              <a class="btn btn-success" type="button" href="{% url 'direct:newconversation' new_user.username %}" ><small>Send a message</small></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}